Django
django-filer
instructor[vertexai, google-genai]==1.13.0
google-genai[aiohttp]
python-dotenv==1.1.0
celery
nautilus_trader[ib,docker]
django-jazzmin-admin-rangefilter
moviepy
sqlalchemy
django-modeladmin-reorder
django-unfold
django-allauth
markdown-it-py==4.0.0
psycopg2-binary
djantic2
djangorestframework
redis
django-import-export
numpy
